#menu {
	z-index: 1000;
	position: fixed; 
	top: 10px; 
	right: 10px;
	width: 280px; 
	font-family: Arial, Helvetica, sans-serif; 
	border: solid 1px black; 
	background-color: #f8f8f8; 
}

#menu h1 {
	margin: -6px -6px;
	padding: 8px; 
	border: solid 1px black; 
	background-color: #f8f8ff; 
}

#menu p {
	margin-top: 5px;
	margin-bottom: 0px; 
	padding: 3px; 
	font-size: 90%; 
}


section.abstract > p{
	padding: 5px 75px; 
}

section[role~="pdx-htabler"], section[role~="pdx-tabler"] {
	max-width: 300px; 
}

section[id="frontmatter"] figure[data-pdx-family="images"] > figcaption {

	display:none;

}

.pageNum {
	float: right; 
	font-style: italic; 
}
