body {
	margin: 5%; 
	font: 11pt "Times New Roman", serif; 
	text-align: justify; 
}

section {
	margin: 0px 10px; 
	padding: 5px; 
}
section > section {
	margin: 0px 10px; 
	padding: 5px; 
}
section > section > section {
	margin: 0px 10px; 
	padding: 5px; 
}

sp {

}

h1 {
	color: #000099;  
}

section > h1                     { font-size: 130%}
section > section > h1           { font-size: 115%}
section > section > section > h1 { font-size: 100%}


.emphasis_0 {
	background-color: #FFFFCC; 
	padding: 2px 5px; 
}

.emphasis_1 [role='pdx-variable'] {
	background-color: #eeeeee; 
	border: solid 1px #999999; 
}

.emphasis_2 {
	background-color: #FFCCFF; 
	padding: 2px 5px; 
}

.emphasis2 [role='pdx-variable'] {
	background-color: #ffffcc; 
	border: solid 1px #999999; 
}

figure {
	text-align: center;
}
figure img {
	height: 300px;
}
figcaption {
	text-align: center;
	font-style: italic;
	font-size: 90%; 
	padding-bottom: 10px; 
}

span[data-pdx-family='page'] {
	display: block; 
	width: 100%; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border-top: solid #999999 1px; 
	text-align: center; 
	font-size: 90%; 
	font-style: italic; 
	color: #999999; 
}

span[data-pdx-family~='page']:before {
	content: "page " ;
}

.explanation {
	color: #333333; 
	font-family: Arial, Helvetica, sans-serif; 
}


button.btn {
	width: 80px;
}

.tocItem {
	font-family: Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 0px; 
}

.tocItem, .tofItem {
	font-family: Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 0px; 
}

.tt {
	font-family: 'courier new'; 
	font-weight: bold; 
	font-size: 80%; 
	-moz-tab-size: 4; /* Code for Firefox */
	-o-tab-size: 4;  /* Code for Opera 10.6-12.1 */
	tab-size: 4;
}

.nopadding {
	padding: 0px; 
}

.bordered {
	margin: 0px; 
	padding: 5px; 
	border: 3px solid #dce4ec;
	height: 153px;  
}

